<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="product-form">
  <!-- Nombre del producto -->
  <mat-form-field appearance="outline">
    <mat-label>Nombre del producto</mat-label>
    <input matInput [(ngModel)]="newProduct.name" name="productName" required minlength="3" #name="ngModel" />
    <mat-error *ngIf="name.invalid">
      El nombre es requerido y debe tener al menos 3 caracteres.
    </mat-error>
  </mat-form-field>

  <!-- Descripción -->
  <mat-form-field appearance="outline">
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="newProduct.description" name="productDescription" required minlength="5"
      #description="ngModel" />
    <mat-error *ngIf="description.invalid">
      La descripción es requerida y debe tener al menos 5 caracteres.
    </mat-error>
  </mat-form-field>

  <!-- Precio -->
  <mat-form-field appearance="outline">
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="newProduct.price" name="productPrice" type="number" required min="1"
      #price="ngModel" />
    <mat-error *ngIf="price.invalid">
      El precio debe ser mayor a 0.
    </mat-error>
  </mat-form-field>

  <!-- Stock -->
  <mat-form-field appearance="outline">
    <mat-label>Stock</mat-label>
    <input matInput [(ngModel)]="newProduct.stock" name="productStock" type="number" #stock="ngModel" />
    <mat-error *ngIf="stock.invalid">
      El stock debe ser mayor o igual a 0.
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
      {{ isEditing ? 'Actualizar Producto' : 'Añadir Producto' }}
    </button>
    <button mat-button color="warn" type="button" *ngIf="isEditing" (click)="onCancel(productForm)">Cancelar</button>
  </div>
</form>