/* Pantalla de bienvenida */
.welcome-screen {
  position: fixed; /* Cubre toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  width: 65%;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.welcome-screen.hidden {
  opacity: 0;
}

/* Contenido principal */
.content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.content.visible {
  opacity: 1;
}

.none {
  display: none;
}
